<html>
  <head>
    <title>Cadastro de Organizadores</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Cadastro de Organizadores</h1>
    <form action="salvarOrganizadores" method="post">
       <label for="NOME">Nome:</label>
       <input type="text" name="NOME" value="<%= (organizadores.lenght > 0 ? organizadores[0].NOME:"") %>" id="NOME" size="15"><br>

       <label for="SOBRENOME">Sobrenome:</label>
       <input type="text" name="SOBRENOME" value="<%= (organizadores.lenght > 0 ? organizadores[0].SOBRENOME:"") %>" size="15"><br>
      
       <label for="CPF">CPF:</label>
       <input type="text" name="CPF" value="<%= (organizadores.lenght > 0 ? organizadores[0].CPF:"") %>" size="30"><br>

       <label for="ENDERECO">Endereço:</label>
       <input type="text" name="ENDERECO" value="<%= (organizadores.lenght > 0 ? organizadores[0].ENDERECO:"") %>" size="30"><br> 

       <label for="TELEFONE">Telefone:</label>
       <input type="TElEFONE" name="TELEFONE" value="<%= (organizadores.lenght > 0 ? organizadores[0].TELEFONE:"") %>" size="10"><br>

       <input type="submit" name="acao" value="Atualizar">
	   <input type="submit" name="acao" value="Cancelar">

    </form>
  </body>
</html>