<html>
<head>
    <title>Todos os Feedbacks</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/table.css" />
</head>
<body>
    <h1>Todos os Feedbacks</h1>
    <button id="inserir"><a  href="/inserirFeedback">Mandar Feedback</a></button>
    <table border="1" class="table table-bordered table-striped table-hover table-dark">
     <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Mensagem</th>
     </tr>
     <% feedback.forEach((feedback, index) => { %>
        <tr>
            <td>
                <button><a href="atualizarFeedback?ID=<%= feedback.ID %>">Atualizar</a></button>
                <button><a href="excluirFeedback?ID=<%= feedback.ID %>">Excluir</a></button>
            </td>
            <td><%= feedback.ID %></td>
            <td><%= feedback.NOME %></td>
            <td><%= feedback.EMAIL %></td>
            <td><%= feedback.MENSAGEM %></td>
        </tr>
    <% }) %>
</table>
</body>
</html>