<html>
<head>
    <title>Todos os Locais</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/table.css" />
</head>
<body>
    <h1>Todos os Locais</h1>
    <button id="inserir"><a href="/inserirLocais">Inserir Locais</a></button>
    <table border="1" class="table table-bordered table-striped table-hover table-dark">
     <tr>
        <th>Ação</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Endereco</th>
     </tr>
     <% locais.forEach((locais, index) => { %>
        <tr>
            <td>
                <button><a href="atualizarLocais?ID=<%= locais.ID %>">Atualizar</a></button>
                <button><a href="excluirLocais?ID=<%= locais.ID %>">Excluir</a></button>
            </td>
            <td><%= locais.ID %></td>
            <td><%= locais.NOME %></td>
            <td><%= locais.ENDERECO %></td>
        </tr>
    <% }) %>
</table>
</body>
</html>