<html>

<head>
  <title>Cadastro Eventos</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/form.css">
</head>

<body>
  <h1 class="title">Cadastro de Eventos</h1>
  <form action="salvarEventos" method="post">

    <input type="hidden" name="ID" id="ID" value="<%= (eventos.length > 0 ? eventos[0].ID: '') %>">
    <div class="input-container ic1">


      <input class="input" type="text" name="LAT" id="LAT" value="<%= (eventos.length > 0 ? eventos[0].LAT: '') %>"
        size="20" placeholder=" ">
      <div class="cut"></div>
      <label for="LAT" class="placeholder">Lat:</label>

    </div>

    <div class="input-container ic2">

    <label for="LNG">Lng:</label>
    <input class="input" type="text" name="LNG" id="LNG" size="20"
      value="<%= (eventos.length > 0 ? eventos[0].LNG: '' ) %>">

    </div>

    <div class="input-container ic2">
    <label for="NOME">Nome:</label>
    <input class="input" type="text" name="NOME" id="NOME" size="15"
      value="<%= (eventos.length > 0 ? eventos[0].NOME: '' ) %>">

    </div>


    <!-- <label for="SOBRE">Sobre:</label>
    <input class="input" type="text" name="SOBRE" id="SOBRE" size="50"
      value="<%= (eventos.length > 0 ? eventos[0].SOBRE: '' ) %>"><br><br>

    <label for="DATAE">Data:</label>
    <input class="input" type="text" name="DATAE" id="DATAE" size="15"
      value="<%= (eventos.length > 0 ? eventos[0].DATAE: '' ) %>"><br><br>


    <label for="ABERTURA">Abertura:</label>
    <input class="input" type="text" name="ABERTURA" id="ABERTURA" size="15"
      value="<%= (eventos.length > 0 ? eventos[0].ABERTURA: '' ) %>"><br><br>

    <label for="CONCLUSAO">Conclusão:</label>
    <input class="input" type="text" name="CONCLUSAO" id="CONCLUSAO" size="15"
      value="<%= (eventos.length > 0 ? eventos[0].CONCLUSAO: '' ) %>"><br><br> -->


    <input type="submit" name='acao' value='Atualizar'>
    <input type="button" name='acao' value='Cancelar'>

    <input type="reset" value="Limpar">

  </form>


</body>

</html>