<html>

<head>
  <title>Eventos</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/reset.css" />
  <link rel="stylesheet" href="assets/css/longForm.css">
</head>

<body>
  <div class="form">
    <h1 class="title">Cadastro de Eventos</h1>
    <form action="salvarEventos" method="post">
      <input type="hidden" name="ID" id="ID" value="<%= (eventos.length > 0 ? eventos[0].ID: '') %>">

      <div class="input-container ic1">

        <input class="input" type="text" name="LAT" id="LAT" value="<%= (eventos.length > 0 ? eventos[0].LAT: '') %>"
          size="20" placeholder=" ">
        <div class="cut"></div>
        <label for="LAT" class="placeholder">Lat:</label>

      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="LNG" id="LNG" size="20"
          value="<%= (eventos.length > 0 ? eventos[0].LNG: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label for="LNG" class="placeholder">Lng:</label>
      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="NOME" id="NOME" size="15"
          value="<%= (eventos.length > 0 ? eventos[0].NOME: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label for="NOME" class="placeholder">Nome:</label>
      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="SOBRE" id="SOBRE" size="50"
          value="<%= (eventos.length > 0 ? eventos[0].SOBRE: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="SOBRE">Sobre:</label>
      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="DATAE" id="DATAE" size="15"
          value="<%= (eventos.length > 0 ? eventos[0].DATAE: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="DATAE">Data:</label>
      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="ABERTURA" id="ABERTURA" size="15"
          value="<%= (eventos.length > 0 ? eventos[0].ABERTURA: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="ABERTURA">Abertura:</label>
      </div>

      <div class="input-container ic2">
        <input class="input" type="text" name="CONCLUSAO" id="CONCLUSAO" size="15"
          value="<%= (eventos.length > 0 ? eventos[0].CONCLUSAO: '' ) %>" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="CONCLUSAO">Conclusão:</label>
      </div>

      <input class="submit" type="submit" name='acao' value='Atualizar'>

    </form>

  </div>
</body>

</html>